---
interface Props {
  siteTitle?: string;
}
const { siteTitle = '혜조로그' } = Astro.props;
---

<title>{siteTitle}</title>
<link rel="icon" href="/images/2022/summer/heart.svg" />
<link rel="apple-touch-icon" href="/images/2022/summer/heart.svg" />
<link rel="mask-icon" href="/images/2022/summer/heart.svg" />
<link rel="canonical" href="https://hyezoprk.vercel.app" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="혜조로그" />
<meta property="og:description" content="코딩과 일기가 뒤죽박죽 섞여 있어요" />
<meta property="og:image" content="/images/2022/summer/heart.svg" />
<meta property="og:url" content="https://hyezoprk.vercel.app" />
<meta property="og:locale" content="ko_KR" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="robots" content="all" />
<meta name="description" content="프론트엔드 취준생 블로그" />
