---
import Layout from '../components/layout/Layout.astro';
---

<Layout siteTitle="About 〰 혜조로그">
  <div class="px-6 pt-16">
    <a href="/" class="text-[var(--color-paleBlue)]">바보</a>
  </div>
</Layout>
